input, textarea, select, button {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px;

}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: mediumaquamarine; 
    outline: none;
    box-shadow: 0 0 2px mediumaquamarine; 
}

label {
    margin-top: 10px;
}

input, textarea {
    width: 400px;
}

.form {
    border-radius: 3px;
    padding: 20px;
    width: 450px;
}

p, label{
    color: rgba(0, 0, 0, 0.807);
 
}

button {
    background-color: mediumaquamarine;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: darkcyan;
    color: white;
}

a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db; 
    color: white;
    text-align: center;
    text-decoration: none !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

a:hover {
    background-color: #2980b9; 
}
